/*---------------------------------------
  VARIABLES
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #1d6280;
  --secondary-color:              #6ba4c5;
  --secondary-transparent-color:  rgba(107, 164, 197, 0.2);
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #6ba4c5;
  --custom-btn-bg-hover-color:    #1d6280;
  --dark-color:                   #000000;
  --p-color:                      #707583;
  --border-color:                 #6ba4c5;
  --link-hover-color:             #1d6280;

  --body-font-family:             'Open Sans', sans-serif;
  --title-font-family:            'Montserrat', sans-serif;

  --h1-font-size:                 58px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  20px;
  --menu-font-size:               14px;
  --btn-font-size:                18px;
  --copyright-font-size:          16px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-normal:           400;
  --font-weight-medium:           500;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
}

body {
  background-color: var(--white-color);
  font-family: var(--body-font-family); 
}


/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family); 
  font-weight: var(--font-weight-semibold);
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-bold);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
  color: var(--primary-color);
}

h5 {
  font-size: var(--h5-font-size);
  color: var(--primary-color);
}

h6 {
  color: var(--white-color);
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

ul li {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-normal);
}

a, 
button {
  touch-action: manipulation;
  transition: all 0.3s;
}

a {
  display: inline-block;
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

b,
strong {
  font-weight: var(--font-weight-bold);
}


/*---------------------------------------
  SECTION               
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.tab-content {
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
}

.nav-tabs {
  border-bottom: 1px solid #ecf3f2;
  margin-bottom: 40px;
  justify-content: center;
}

.nav-tabs .nav-link {
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  color: var(--p-color);
  font-family: var(--title-font-family);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-medium);
  padding: 15px 25px;
  transition: all 0.3s;
}

.nav-tabs .nav-link:first-child {
  margin-right: 20px;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover {
  border-bottom-color: var(--primary-color);
  color: var(--primary-color);
}

/*---------------------------------------
  NAVIGATION              
-----------------------------------------*/
.sticky-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.sticky-wrapper.is-sticky .navbar {
  background-color: var(--primary-color);
}

.sticky-wrapper.is-sticky .navbar-nav .nav-link {
  color: var(--secondary-color);
}

.sticky-wrapper.is-sticky .navbar-nav .nav-link.active,
.sticky-wrapper.is-sticky .navbar-nav .nav-link:hover {
  color: var(--white-color);
  font-weight: var(--font-weight-bold);
}

.navbar {
  background: transparent;
  z-index: 9;
}

.navbar-brand,
.navbar-brand:hover {
  font-size: var(--h3-font-size);
  font-weight: var(--font-weight-bold);
  display: block;
}

.navbar-brand span {
  font-family: var(--title-font-family);
  color: var(--white-color);
}

.navbar-expand-lg .navbar-nav .nav-link {
  border-radius: var(--border-radius-large);
  margin: 10px;
  padding: 10px;
}

.navbar-nav .nav-link {
  display: inline-block;
  color: var(--white-color);
  font-family: var(--title-font-family); 
  font-size: var(--menu-font-size);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  position: relative;
  padding-top: 15px;
  padding-bottom: 15px;
}

.navbar-nav .nav-link.active, 
.navbar-nav .nav-link:hover {
  color: var(--primary-color);
}

.navbar-toggler {
  border: 0;
  padding: 0;
  cursor: pointer;
  margin: 0;
  width: 30px;
  height: 35px;
  outline: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  background: transparent;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before,
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transition: top 300ms 50ms ease, -webkit-transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease;
  transition: top 300ms 50ms ease, transform 300ms 350ms ease, -webkit-transform 300ms 350ms ease;
  top: 0;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(-45deg);
}

.navbar-toggler .navbar-toggler-icon {
  background: var(--white-color);
  transition: background 10ms 300ms ease;
  display: block;
  width: 30px;
  height: 2px;
  position: relative;
}


.navbar-toggler .navbar-toggler-icon:before,
.navbar-toggler .navbar-toggler-icon:after {
  transition: top 300ms 350ms ease, -webkit-transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease;
  transition: top 300ms 350ms ease, transform 300ms 50ms ease, -webkit-transform 300ms 50ms ease;
  position: absolute;
  right: 0;
  left: 0;
  background: var(--white-color);
  width: 30px;
  height: 2px;
  content: '';
}

.navbar-toggler .navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler .navbar-toggler-icon::after {
  top: 8px;
}


/*---------------------------------------
  HERO        
-----------------------------------------*/
.hero-section {
  background-image: linear-gradient(0deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  position: relative;
  overflow: hidden;
  padding-top: 200px;
  padding-bottom: 150px;
  border-radius: 0 0 var(--border-radius-large ) var(--border-radius-large);
  height: 70vh;
  transition: height 0.5s ease;
}

.hero-section.expanded{
  height: 100vh;
}

.hero-section .input-group {
  background-color: var(--white-color);
  border-radius: var(--border-radius-large);
  padding: 10px 15px;
  margin-bottom: 10px;
}

.hero-section .input-group-text {
  background-color: transparent;
  color: var(--primary-color);
  border: 0;
}

.hero-section input[type="search"] {
  border: 0;
  box-shadow: none;
  margin-bottom: 0;
  padding-left: 0;
}

.hero-section textarea {
  border: 0;
  box-shadow: none;
  outline: none;
  margin: 10px;
  padding-left: 0;
  resize: none;
  height: 100px;
  background: transparent;
}

.hero-section button[type="submit"] {
  background-color: var(--primary-color);
  border: 0;
  border-radius: var(--border-radius-large) !important;
  color: var(--white-color);
  max-width: 150px;
}


/*---------------------------------------
  BLOCKS
-----------------------------------------*/
.custom-block {
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 30px;
  transition: all 0.3s ease;
  height: 100%;
}

.custom-block:hover {
  background-color: var(--secondary-color);
  transform: translateY(-3px);
}

.custom-block-image {

}

.custom-block:hover .custom-block-image {
  display: block;
}

.custom-block.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.custom-block.card .custom-block-image {
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.custom-block.card:hover {
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.custom-block.card .custom-block-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.custom-block.card:hover .custom-block-content {
  transform: rotateX(0deg);
}


.custom-block.card:hover .custom-block-image {
  transform: scale(0);
}



/*---------------------------------------
  ROADMAP
-----------------------------------------*/
.roadmap-container .vertical-scrollable-roadmap {
  list-style-type: none;
  position: relative;
  padding-left: 0;
}


.roadmap-container .vertical-scrollable-roadmap li {
  position: relative;
  padding: 5px 0px 45px 145px;
}

.roadmap-container .vertical-scrollable-roadmap li:last-child {
  padding-bottom: 0;
}

.roadmap-container .vertical-scrollable-roadmap li p {
  line-height: 40px;
}

.roadmap-container .vertical-scrollable-roadmap li p:last-child {
  margin-bottom: 0;
}

.roadmap-container .vertical-scrollable-roadmap li .list-marks {
  position: absolute;
  left: 35px;
  top: 0;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  border-radius: 50%;
  z-index: 1;
  transition: 0.4s all;
}

.roadmap-container .vertical-scrollable-roadmap li .list-marks::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  background-color: var(--secondary-color);
  border-radius: 50%;
  z-index: -1;
  transition: 0.4s all;
}

.roadmap-container .vertical-scrollable-roadmap li .list-marks i {
  font-size: 25px;
  color: var(--white-color);
}

.roadmap-container .vertical-scrollable-roadmap li::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 8px;
  background-color: transparent;
  left: 52px;
  z-index: 0;
}

.roadmap-container .vertical-scrollable-roadmap li.active .list-marks {
  background-color: var(--primary-color);
}

.roadmap-container .vertical-scrollable-roadmap li.active .list-marks::before {
  background-color: var(--primary-color);
}

/*---------------------------------------
  TIP
-----------------------------------------*/
.tip{
  height: 250px;
}

/*---------------------------------------
  ACCORDION
-----------------------------------------*/
.accordion-item {
  border: 0;
}

.accordion-button {
  font-size: var(--h6-font-size);
  font-weight: var(--font-weight-semibold);
  color: var(--primary-color);
}

.accordion-button:focus {
  outline: none;
  box-shadow: none;
}

.accordion-item:first-of-type .accordion-button {
  border-radius: var(--border-radius-large);
}

.accordion-button:not(.collapsed) {
  border-radius: var(--border-radius-large);
  box-shadow: none;
  color: var(--primary-color);
  background: var(--secondary-transparent-color);
}

.accordion-body {
  color: var(--p-color);
  font-size: var(--btn-font-size);
  line-height: 40px;
}

/*---------------------------------------
  SEARCH FORM
-----------------------------------------*/
.search-form .form-control {
  border-radius: var(--border-radius-large);
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  outline: none;
}

.form-floating>label {
  padding-left: 20px;
}

.search-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-semibold);
  transition: all 0.3s;
  margin-bottom: 0;
}

.search-form button[type="submit"]:hover,
.search-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

/*---------------------------------------
  FIND PROFESSION FORM
-----------------------------------------*/
.find-profession-form{
  background-color: var(--white-color);
  border-radius: var(--border-radius-medium);
}
.find-profession-form .form-control {
  border-radius: var(--border-radius-large);
  color: var(--p-color);
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 20px;
  outline: none;
}

.form-floating>label {
  padding-left: 20px;
}

.find-profession-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-family: var(--title-font-family);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-semibold);
  transition: all 0.3s;
  margin: 0;
  float: right;
}

.find-profession-form button[type="submit"]:hover,
.find-profession-form button[type="submit"]:focus {
  background: var(--white-color);
  color: var(--primary-color);
  border-color: transparent;
}

/*---------------------------------------
  LOADING
-----------------------------------------*/
.loading-progress {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-container{
  margin-top: 50px;
  padding-bottom: 70px;
}

.circle{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  animation: loading 1.5s cubic-bezier(.8, .5, .2, 1.4) infinite;
  transform-origin: bottom center;
  position: relative;
  margin-right: 5px;
}
@keyframes loading{
  0%{
    transform: translateY(0px);
    background-color: var(--white-color);
  }
  50%{
    transform: translateY(50px);
    background-color: var(--primary-color);
  }
  100%{
    transform: translateY(0px);
    background-color: var(--secondary-color);
  }
}
.circle-1{
  animation-delay: 0.1s;
}
.circle-2{
  animation-delay: 0.2s;
}
.circle-3{
  animation-delay: 0.3s;
}
.circle-4{
  animation-delay: 0.4s;
}
.circle-5{
  animation-delay: 0.5s;
}
.circle-6{
  animation-delay: 0.6s;
}
.circle-7{
  animation-delay: 0.7s;
}
.circle-8{
  animation-delay: 0.8s;
}

.progress-msg.error_msg{
  margin-top: 50px;
}

/*---------------------------------------
  RESPONSIVE STYLES               
-----------------------------------------*/
@media screen and (max-width: 991px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .navbar {
    background: var(--secondary-color);
  }

  .navbar-brand span {
    font-size: var(--h4-font-size);;
  }

  .navbar-expand-lg .navbar-nav {
    padding-bottom: 20px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
  }

  .nav-tabs .nav-link:first-child {
    margin-right: 5px;
  }

  .nav-tabs .nav-link {
    font-size: var(--copyright-font-size);
    padding: 10px;
  }

  .roadmap-container .vertical-scrollable-roadmap .list-progress {
    height: 75%;
  }

  .roadmap-container .vertical-scrollable-roadmap li {
    padding-left: 135px;
  }
  .hero-section {
    height: 80vh;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }

  .navbar-brand span {
    font-size: var(--h5-font-size);;
  }
  .loading{
    opacity: 0;
  }
}

