<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>{%block title%}{{title}}{%endblock title%}</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/bootstrap-icons.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    
    <body>
        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <span>Proficiō</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link {% if request.path=='/' %}active{% endif %}" href="/">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if request.path=='/find_profession' %}active{% endif %}" href="/find_profession">Find Your Profession</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link {% if request.path=='/about' %}active{% endif %}" href="/about">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                {% block section_1 %}
                {% endblock section_1 %}
            </section>

            <section class="explore-section section-padding" id="section_2">
                {% block section_2 %}
                {% endblock section_2 %}
            </section>
        </main>


        <!-- JAVASCRIPT FILES -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/jquery.sticky.js"></script>
        <script src="../static/js/custom.js"></script>
    </body>
</html>
