<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Proficiō</title>

        <!-- CSS FILES -->        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Open+Sans&display=swap" rel="stylesheet">
                        
        <link href="../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../static/css/bootstrap-icons.css" rel="stylesheet">
        <link href="../static/css/style.css" rel="stylesheet">
    </head>
    
    <body>
        <main>
            <nav class="navbar navbar-expand-lg">
                <div class="container">
                    <a class="navbar-brand" href="index.html">
                        <span>Proficiō</span>
                    </a>

                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ms-lg-5 me-lg-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="index.html">Home</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link active" href="find_profession.html">Find Your Profession</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="about.html">About</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-12 mx-auto">
                            <h1 class="text-white text-center">Find Your Profession</h1>

                            <h6 class="text-center">Lorem ipsum dolor sit amet.</h6>

                            <form method="get" class="find-profession-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                                <div class="input-group input-group-lg">
                                    <textarea class="form-control" id="search-bar" placeholder="Lorem ipsum dolor sit amet" aria-label="Search"></textarea>
                                </div>
                                <button type="submit" class="form-control" id="search-button">Search</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section class="explore-section section-padding" id="section_2">
                <div class="container-fluid">
                    <div class="row">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active" id="professions-tab" data-bs-toggle="tab" data-bs-target="#professions-tab-pane" type="button" role="tab" aria-controls="professions-tab-pane" aria-selected="true">Recommended Professions</button>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-10">
                            <div class="tab-content" id="myTabContent">
                                <div class="tab-pane fade show active" id="professions-tab-pane" role="tabpanel" aria-labelledby="professions-tab" tabindex="0">
                                    <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                                <div class="custom-block bg-white shadow-lg">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Profession 1</h5>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Profession 2</h5>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                            <div class="custom-block bg-white shadow-lg">
                                                    <div class="d-flex">
                                                        <div>
                                                            <h5 class="mb-2">Profession 3</h5>
                                                        </div>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>


        <!-- JAVASCRIPT FILES -->
        <script src="../static/js/jquery.min.js"></script>
        <script src="../static/js/bootstrap.bundle.min.js"></script>
        <script src="../static/js/jquery.sticky.js"></script>
        <script src="../static/js/custom.js"></script>
    </body>
</html>
