{% extends "base.html" %}


{% block section_1 %}

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-12 mx-auto">
            <h1 class="text-white text-center">PROFICIŌ</h1>

            <h6 class="text-center">Your Path to Success</h6>

            <form method="post" class="search-form mt-4 pt-2 mb-lg-0 mb-5" role="search">
                <div class="input-group input-group-lg">
                    <span class="input-group-text bi-search" id="basic-addon1">
                    </span>

                    <input name='query' type="search" class="form-control" id="search-bar"
                           placeholder="Type in the profession you're interested in..." aria-label="Search">

                    <button type="submit" class="form-control" id="search-button">Search</button>
                </div>
            </form>
            <div id="loading-progress" class="loading-progress" style="display: none;">
                <div id="loading" class="loading">
                    {% include "loading.html" %}
                </div>

                <h6 class="progress-msg text-center" id="progress-msg"></h6>
            </div>
        </div>
    </div>
</div>

{% endblock section_1 %}

{% block section_2 %}

<div id="data"></div>

{% endblock section_2%}
